<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Blog</title>
</head>
<body>
    <h1>Bem vindo ao meu blog</h1>
    <hr>
     {% for post in posts %}
     <article>
        <h2><a href="{%url 'detalhe_do_post' pk=post.pk %}"></a></h2>
        <p>Por {{post.autor}} em {{post.data_criacao|date:"d/m/Y"}}</p>
        <p>{{post.conteudo |truncatewords:30}}</p>
     </article>
     <hr>
     {% endfor %}
</body>
</html>